.page_fellow {
  margin-top: 40px;

  &--container {
    max-width: 800px;
    margin: 30px auto 0;
    background-color: #fff;
    border-radius: 30px;
    padding: 40px 20px 20px;
  }

  &__wrapper {
    .youtube {
      max-width: 560px;
      max-height: 315px;
      margin: 0 auto;
      iframe {
        height: 315px;
      }
    }

    .content {
      margin-top: 20px;
      &--title {
        @include font-line(20px, 30px);
        color: #21aaa6;
        font-weight: 700;
        text-align: center;
      }
      &--custom-field {
        .field-wrapper {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          padding: 20px 0 20px 10px;
          @include is-min($breakpoint-sp) {
            padding-right: 48px;
          }

          &:not(:last-child) {
            border-bottom: 1px dotted #707070;
          }

          .q-logo {
            margin-right: 15px;
            width: 45px;
          }

          .answer--empy {
            width: 100%;
            display: flex;
            .answer {
              @include font-line(18px, 26px);
              font-weight: 500;
              width: calc(100% - 60px);
              padding-top: 20px;
            }

            .empty {
              margin-right: 15px;
              width: 45px;
              @include is-sp {
                display: none;
              }
            }
          }

          .text {
            width: calc(100% - 60px);
            .question,
            .answer {
              @include font-line(18px, 26px);
              font-weight: 500;
              padding-top: 10px;
              @include is-sp {
                @include font-line(16px);
              }
            }
          }
        }
      }
    }
  }

  &--images {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
    @include is-min($breakpoint-sp) {
      margin: 50px -20px 0;
    }
    @include is-sp {
      margin: 50px -10px 0;
    }
    .link {
      display: block;
      @include is-min($breakpoint-sp) {
        width: calc(100% / 4);
        padding: 0 20px;
      }
      @include is-sp {
        width: calc(100% / 2);
        padding: 0 10px 20px;
      }
      img {
        width: 100%;
        height: 100%;
        display: block;
      }
    }

    .slider_txt {
      font-size: 16px;
      font-weight: 500;
      margin-top: 15px;
      text-align: center;
    }
  }
}
