.page_fellow {
  margin-top: 40px;

  &--container {
    max-width: 800px;
    margin: 30px auto 0;
    background-color: #fff;
    border-radius: 30px;
    padding: 40px 20px 20px;
  }

  &__wrapper {
    .youtube {
      max-width: 560px;
      max-height: 315px;
      margin: 0 auto;
      iframe {
        height: 315px;
      }
    }

    .content {
      margin-top: 20px;
      &--title {
        @include font-line(20px, 30px);
        color: #21aaa6;
        font-weight: 700;
        text-align: center;
      }
      &--custom-field {
        .field-wrapper {
          display: flex;
          align-items: flex-start;
          flex-wrap: wrap;
          padding: 20px 0 20px 10px;

          &:not(:last-child) {
            border-bottom: 1px dotted #707070;
          }

          .q-logo {
            margin-right: 15px;
            width: 45px;
          }

          .text {
            width: calc(100% - 60px);
            .question,
            .answer {
              @include font-line(18px, 26px);
              font-weight: 500;
              padding-top: 10px;
              @include is-sp {
                @include font-line(16px);
              }
            }

            .answer {
              width: 100%;
              padding-top: 20px;
            }
          }
        }
      }
    }
  }
}
