.page {
  &__footer {
    margin-top: 100px;
    overflow: hidden;
    padding: 0 0 60px 0;

    @include is-sp {
      margin-top: 40px;
      padding: 0 !important;
    }

    &--wrap {
      @include is-sp {
        padding: 0;
      }
    }
  }
}

.footer {
  .container {
    @include is-min(1367px) {
      max-width: 1780px;
      padding: 0 40px;
      margin: 0 auto;
    }

    @include is-sp {
      padding-bottom: 80px;
    }
  }
  .links {
    display: flex;
    margin: 20px auto 0;

    @include is-max(1366px) {
      max-width: 1100px;
    }

    @include is-min(1367px) {
      margin-left: 20px;
    }

    @include is-min($breakpoint-sp) {
      gap: 70px;
    }

    @include is-sp {
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 30px;
    }

    &__item {
      @include font-line(14px);
      font-weight: 500;

      @include is-sp {
        &:first-child {
          order: 3;
        }
      }
    }
  }
  img {
    width: 100%;
  }
}

.custom-wrapper {
  @include is-sp {
    padding: 0;
  }
}
