.containers {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px 20px 40px 20px;
  margin-top: 30px;
  max-width: 800px;
  margin: 30px auto 0;
  z-index: 2;
  position: relative;

  .sec1 {
    text-align: left;
    padding-bottom: 50px;
    border-bottom: 1px dotted #707070;
    h3 {
      font-size: 22px;
      line-height: 30px;
    }

    .title {
      @include font-line(18px, 26px);
      font-weight: 500;
      @include is-min($breakpoint-sp) {
        width: 448px;
      }
      @include is-sp {
        margin-top: 10px;
      }
    }
  }

  .sec2 {
    .news_list {
      &--item {
        padding-top: 20px;

        .date-category {
          display: flex;
          .date {
            @include font-line(14px);
            font-weight: 700;
            margin-right: 25px;
            @include is-sp {
              margin-right: 10px;
            }
          }
          .category {
            background-color: #ffdd52;
            border-radius: 20px;
            @include font-line(12px);
            font-weight: 700;
            margin-right: 20px;
            padding: 5px 0;
            text-align: center;
            width: 100px;
            height: fit-content;
          }
        }

        .description {
          padding-top: 15px;

          p {
            font-size: 18px;
            line-height: 26px;
            font-weight: 500;
          }

          p .aligncenter {
            padding-top: 32px;
            display: block;
            margin: 0 auto;
            padding-bottom: 10px;
          }

          @include is-sp {
            flex-wrap: wrap;
            align-items: center;
          }
        }

        .button-container {
          display: flex;
          justify-content: center;
          padding-top: 65px;

          .back-button {
            @include font-line(18px, 30px);
            font-weight: 700;
            padding: 12px 0;
            background-color: #ffdd52;
            max-width: 175px;
            border-radius: 40px;
            width: 100%;
            text-align: center;
          }
        }
      }
    }
  }
}
